*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    text-align: center;
    border: 2px solid grey;
    margin: auto;
    max-width: 600px;
    min-width: 400px;
}

.header{
    background-color: aqua;
    padding: 5%;
}

header{
    font-size: 30px;
}

.search{
    padding: 5%;
    padding-bottom: 0;
}

ul {
    list-style: none;
    text-align: left;
    margin: 2%;
}

li{
    margin: 20px;
    background-color: rgb(199, 247, 252);
    padding: 3.5%;
    border-left: 4px solid rgb(168, 6, 6);
    border-radius: 5px;
}

.title{
    padding-left: 5px;
}

.delete{
    float: right;
    background-color: red;
    padding: 5px;
    border-radius: 5px;
    margin-top: -5px;
    color: white;
}

.add-book{
    background-color: aqua;
    padding: 5%;
}

input{
    padding: 8px;
}

button{
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
}